body {
  width:max-content;
  height: 100vh;
  margin: 0;
  background-color: rgb(62, 54, 54);
}

.box {
  /* width: auto; */
  height: 500px;
  position: relative;
  align-items: center;
}

.tempo-text {
  display: inline-block
}

.drum-line {
  /* width: 100%; */
  background-color: azure;
  display: flex;
  /* margin: auto; */
}

.drum-line-info {
  width: 200px;
  display: inline;
}

.drum-line-info h3 {
  display: inline-block
}

